<div class="jumbotron m-5 text-center shadow" id="home-jumbotron">
  <h1 class="mt-5">Image Repository</h1>
  <p class="m-5">This application was built on ruby on rails on the backend with a simple bootstrap front end</p>
  <%= link_to 'Register!', signup_path, class: "btn btn-success m-5" %>
</div>

