<footer id="sticky-footer" class="py-4 bg-dark text-white-50 container-fluid">
  <div class="footer-row">
    <div class="container-fluid col-4 text-center">
      <small>Abdul Haqani</small>
    </div>
    <div class="container-fluid col-4 text-center">
      <small>Copyright &copy; Image Repository</small>
    </div>
    <div class="container-fluid col-4 text-center">
      <small>ahaqa011@uottawa.ca</small>
    </div>
  </div>
</footer>